<%- include("partials/header") %>

<!-- Banner -->
<div class="mx-auto">
    <div class="w-full text-center">
        <img src="/images/classroomBanner.jpg" alt="classroom" id="banner" />
    </div>
</div>

<!-- Cards -->
<div class="mx-auto px-64">      
    <div class="-mt-64">
    <div class="grid grid-cols-1 gap-4 xl:grid-cols-3">
        <div class="p-2 sm:p-10 text-center cursor-pointer">
            <div class="py-16 rounded overflow-hidden shadow-lg hover:bg-orange-100 transition duration-500 bg-white">
                <div class="space-y-10">
                    <i class="fas fa-network-wired" style="font-size:48px;"></i>
                    <div class="px-6 py-4">
                        <div class="space-y-5">
                            <div class="font-bold text-xl mb-2">Online Tutoring</div>
                            <p class="text-gray-700 text-base">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 sm:p-10 text-center cursor-pointer text-white"> 
            <div class="py-16 rounded overflow-hidden shadow-lg bg-teal-400 hover:bg-teal-500 transition duration-500">
                <div class="space-y-10">
                    <i class="fas fa-chalkboard-teacher" style="font-size:48px;"></i>
                    <div class="px-6 py-4">
                        <div class="space-y-5">
                            <div class="font-bold text-xl mb-2">One-2-One Tutoring</div>
                            <p class="text-base">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
            <div class="p-2 sm:p-10 text-center cursor-pointer translate-x-2">
                <div class="py-16 rounded overflow-hidden shadow-lg hover:bg-orange-100 transition duration-500 bg-white ">
                    <div class="space-y-10">
                        <i class="fas fa-pencil-alt" style="font-size:48px;"></i>
                        <div class="px-6 py-4">
                            <div class="space-y-5">
                                <div class="font-bold text-xl mb-2">Exam Prep</div>
                                <p class="text-gray-700 text-base">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

<!-- About -->
    <div class="grid grid-cols-2 divide-x-2 divide-gray-400 divide-opacity-25" id="about">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-center">About</div>
            <p class="text-gray-800 text-base text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere.</p>
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-center">Qualifications</div>
            <p class="text-gray-800 text-base text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eius minus laborum reiciendis atque ipsum explicabo facere.</p>
        </div>
    </div>
</div>

<!-- Contact Form -->
<div class="contactSection">
    <div class="mx-auto px-64">
        <form id="contact-me" class="w-full mx-auto p-8 text-gray-700 ">
                
            <h2 class="w-full my-2 text-3xl font-bold leading-tight my-5">Contact form</h2>
            <!-- name field -->
            <div class="flex flex-wrap mb-6">
                <div class="relative w-full appearance-none label-floating">
                    <input class="tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-white border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500"
                    id="name" type="text" placeholder="Your name"required>
                    <label for="name" class="absolute tracking-wide py-2 px-4 mb-4 opacity-0 leading-tight block top-0 left-0 cursor-text">
                        Your name
                    </label>
                </div>
            </div>
            <!-- email field -->
            <div class="flex flex-wrap mb-6">
                <div class="relative w-full appearance-none label-floating">
                    <input class="tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-white border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500"
                    id="name" type="text" placeholder="Your email"required>
                    <label for="name" class="absolute tracking-wide py-2 px-4 mb-4 opacity-0 leading-tight block top-0 left-0 cursor-text">
                        Your email
                    </label>
                </div>
            </div>
            <!-- Message field -->
            <div class="flex flex-wrap mb-6">
                <div class="relative w-full appearance-none label-floating">
                    <textarea class="autoexpand tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-white border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500"
                        id="message" type="text" placeholder="Message..."></textarea>
                        <label for="message" class="absolute tracking-wide py-2 px-4 mb-4 opacity-0 leading-tight block top-0 left-0 cursor-text">Message...
                    </label>
                </div>
            </div>

            <div class="">
                <button class="w-full shadow bg-white hover:bg-gray-200 focus:shadow-outline focus:outline-none text-black font-bold py-2 px-4 rounded"
                    type="submit">
                    Send
                </button>

            </div>
        </form>

<!-- Copyright Notice -->
        <p id="copyright">© S.R. Thompson Design 2020</p>
    </div>
</div>


<%- include("partials/footer") %>