<%- include("partials/header") %>

<!-- Banner -->
<div class="mx-auto">
    <div class="w-full text-center">
        <img src="/images/classroomBanner.jpg" alt="classroom" id="banner" />
    </div>
</div>

<div class="md:px-32 sm:px-16">
    <div class="grid grid-rows-3 divide-y-3">
        <div class="px-6 py-4">
            <h2>Service 1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe cum, quia distinctio ipsam architecto perspiciatis facilis accusamus accusantium enim ullam voluptatem modi et tenetur quibusdam sapiente voluptatum delectus itaque eaque.</p>
        </div>
        <div class="px-6 py-4">
            <h2>Service 1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe cum, quia distinctio ipsam architecto perspiciatis facilis accusamus accusantium enim ullam voluptatem modi et tenetur quibusdam sapiente voluptatum delectus itaque eaque.</p>
        </div>
        <div class="px-6 py-4">
            <h2>Service 1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe cum, quia distinctio ipsam architecto perspiciatis facilis accusamus accusantium enim ullam voluptatem modi et tenetur quibusdam sapiente voluptatum delectus itaque eaque.</p>
        </div>
    </div>
</div>

<%- include("partials/footer") %>